body {
    font-size: 1.25rem;
}

.avatar {
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer{
    flex: 0 0 auto;
}


.about {
    display: flex;
    color: rgb(246, 245, 243);
    background-image: url("images/ball.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    border: 5px solid rgb(14, 14, 69);
    border-radius: 10px;    
    margin-top: 2.2rem;
    /* width: 90%; */
    justify-content: flex-start;
    overflow: auto;
}

.every-bg {
    background-color: white;
     /* background-color: rgb(200, 214, 235);  */
}

.about-bg {
    background-color: white;
    padding: 10px;
}

.bg-custom {
    background-color: rgb(14, 14, 69);
    color: white;

}

.p1 {
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 30px;
    font-weight: 4px;
    align-self: flex-end;
    text-align: left;
    width: 43%;
    color: rgb(14, 14, 69)
}
